@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background-color: lightgrey;
}
.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #D3D3D3;
	background-size:cover;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 500; 
}
.contact .content p{
	font-weight: 300; 
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px; 
}
.container .contact-info{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.container .contact-info .box {
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contact-info .box .icon{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center; 
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contact-info .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	content: #fff;
	flex-direction: column;
}
.container .contact-info .box .text h3{
	font-weight: 500;
	color: #00bcd4;
}
.form{
	width: 40%;
	padding: 40px;
	background: #fff;
}
.form h3 {
	font-size: 30px;
	color: #333;
	font-weight: 500;
}
.form .input{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.form .input input,.form .input textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border:none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.form .input span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color:#666;
}
.form .input input:focus ~ span, .form .input textarea:valid ~ span, .form .input textarea:focus ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.form .input input[type="submit"]{
	width: 100px;
	background: #808080;
	color: #fff;
	border:none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media(max-width: 991px){
	.contact{
		padding: 50px;
	}
	.container{
		flex-direction: column;
	}
	.container .contact-info{
		margin-bottom: 40px;
	}
	.container .contact-info, .form{
		width: 100%;
	}
}